.clearfix {
  display: inline-block;
  &:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

.red{
  color: #ff0000;
}
.green{
  color: #229a25;
}
.bold{
  font-weight: bold;
}
.container{
  padding-bottom: 1rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.weui-loadmore_line {
  border-top: 1px solid #e0e0e0 !important;
}

.music-page{
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}